<html>
<head>
<%= javascript_include_tag "prototype" %>
</head>
<body>
<form id="myform">
<div align="center">
<br><br>
<input type="text" size="40" name="myname" value="Regex and shit.">
<br>
</form>
<div id = "field_div">

</div><br>
</div>
</body>
</html>